{{#each events as |event|}}
<div class="postCard">
  <div class="postCardHeader">
    <div class="postCardTitle"></div>
    <div class="postCardDate"></div>
  </div>
  <div class="postCardBody">
    <p>{{event}}</p>
  </div>
</div>
{{/each}}